.description {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 3.5rem;
    min-height: calc(100vh - $header-height);
  }

  &__title {
    font-size: var(--title-font-size);
    font-weight: map-get($map: $font-weights, $key: "regular");

  }

  &__desc {
    max-width: 40ch;
    margin-top: .75rem;
    line-height: 1.5;
  }

  &__image {
    display: flex;
    column-gap: 1.5rem;

    img {
      max-width: 135px;
      filter: drop-shadow(0 2px 10px rgba($color: $text-color, $alpha: .15));

      &:first-child {
        margin-bottom: 3.5rem;
        animation: wipe-up 1s infinite alternate;
      }

      &:last-child {
        margin-top: 2.5rem;
        animation: wipe-up 1s .5s infinite alternate;
      }
    }
  }
}