.specification {
  height: calc(100vh - 3rem);
  display: grid;
  grid-template-rows: max-content max-content;
  justify-content: center;
  align-items: center;
  row-gap: 1.5rem;

  &__content {
    display: flex;
    column-gap: 3.5rem;
  }

  &__box {
    margin-bottom: 2.5rem;
    text-align: center;
  }

  &__sub-title {
    font-size: var(--smaller-font-size);
    display: inline-block;
    width: 15ch;
  }

  &__title {
    font-size: var(--bigger-font-size);
    font-weight: 400;

    span {
      font-size: var(--big-font-size);
    }
  }

  &__description {
    width: 15ch;
    margin: 0 auto;
  }

  &__img {
    width: max-content;
    justify-self: center;

    img {
      width: 300px;
    }
  }

  @include breakpoints-down("tablet") {
    grid-template-columns: max-content max-content;
    grid-template-rows: none;
    align-content: center;
    justify-content: center;

    &__content {
      flex-direction: column;
    }

    &__img {
      align-self: center;

      img {
        width: 218px;
      }
    }
  }
}