include ../components/button.pug

header.header 
  nav.nav.container
    a.nav__logo(href="") AirPods
    div.nav__menu
      ul.nav__list 
        each link in links 
          li.nav__item
            a.nav__link(href="#" + link)=link
    .nav__actions
      .nav__toggle#nav-toggle
        i.ri-arrow-down-s-line
      +button("Beli", "nav__btn")