section.description#deskripsi
  .container 
    .description__info
      h1.description__title AirPods
      p.description__desc Dengan waktu dengar dan bicara yang panjang serta casing pengisian daya nirkabel yang disediakan, AirPods memberikan pengalaman headphone nirkabel yang luar biasa. 
    .description__image
      - var i = 1
      while i <= 2
        img(src="assets/img/airpod" + (i++) + ".png" alt="")