include ../components/specificationBox.pug

section.spesification#spesifikasi
  .specification__content
    each s in specData 
      +specBox(s.subTitle, s.title, s.desc)
  .specification__img
    img(src="assets/img/airpods.png" alt="").airpods