.footer {
  margin-top: 1.5rem;
  text-align: center;
  border-top: 1px solid gray;
  padding: 1.5rem 0;

  &__copy {
    font-size: var(--smaller-font-size);

    &-link {
      color: $blue-color;
      text-decoration: underline;
      text-decoration-style: dashed;
      text-underline-offset: .15rem;
    }
  }
}