$header-height: 5rem;

.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: map-get($map: $z-indexes, $key: "fixed");

  .nav {
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__list,
    &__menu {
      display: flex;
      column-gap: 1.5rem;
      align-items: center;
    }

    &__link,
    &__logo {
      color: $text-color;

      &:hover {
        color: $blue-color;
      }
    }

    &__btn {
      @include button($blue-color, 2.5rem);
    }

    &__logo {
      font-weight: map-get($map: $font-weights, $key: "bold");

    }
  }
}