$header-height: 5rem;
$text-color: hsl(0, 0%, 0%);

.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  padding-block: 1.5rem;
  padding-inline: 3.5rem;
  height: $header-height;

  .nav {
    display: flex;
    justify-content: space-between;

    &__logo {
      font-size: 1.5rem;
      color: blue;
    }

    &__menu {
      display: flex;
      column-gap: 2.5rem;
    }

    &__list {
      display: flex;
      column-gap: 1.5rem;
    }

    &__link {
      color: $text-color;
    }

    &__btn {
      @include button(red, 2.5rem);
    }

    &__jual {
      @include button(blue, 2.5rem);

    }
  }
}