@mixin button($color, $radius: 0) {
  background-color: $color;
  padding: .75rem 1.25rem;
  border: none;
  outline: none;
  color: white;

  @if $radius>0 {
    border-radius: $radius;
  }

  &:hover {
    background-color: blue;
  }
}