@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@keyframes wipe-up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}
/* ==================== FONTS ===================== */
:root {
  --biggest-font-size: 3.5rem;
  --bigger-font-size: 2.25rem;
  --big-font-size: 1.625rem;
  --normal-font-size: 0.985rem;
  --smaller-font-size: 0.895rem;
}

@media screen and (min-width: 768px) {
  :root {
    --biggest-font-size: 8rem;
    --bigger-font-size: 4.5rem;
    --big-font-size: 2.5rem;
    --normal-font-size: 1rem;
    --smaller-font-size: 0.938rem;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: var(--normal-font-size);
  color: hsl(240deg, 3%, 12%);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  font-family: "Roboto", sans-serif;
  border: none;
  outline: none;
}

.container {
  max-width: 1148px;
  margin-inline: auto;
}
@media screen and (max-width: 1024px) {
  .container {
    margin-inline: 1.5rem;
  }
}
@media screen and (max-width: 320px) {
  .container {
    margin-inline: 1rem;
  }
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}
.header .nav {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav__list, .header .nav__menu {
  display: flex;
  column-gap: 1.5rem;
  align-items: center;
}
.header .nav__link, .header .nav__logo {
  color: hsl(240deg, 3%, 12%);
  text-transform: capitalize;
}
.header .nav__link:hover, .header .nav__logo:hover {
  color: hsl(210deg, 100%, 45%);
}
.header .nav__btn {
  background-color: hsl(210deg, 100%, 45%);
  padding: 0.65rem 1.25rem;
  color: white;
  cursor: pointer;
  font-weight: 500;
  box-shadow: 0 0 5px rgba(0, 115, 230, 0.5);
  border-radius: 2.5rem;
}
.header .nav__logo {
  font-weight: 700;
  font-size: calc(var(--normal-font-size) + 0.35rem);
}

main {
  margin-top: 5rem;
}

.description .container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 3.5rem;
  min-height: calc(100vh - 5rem);
}
.description__title {
  font-size: var(--biggest-font-size);
  font-weight: 400;
}
.description__desc {
  max-width: 40ch;
  margin-top: 0.75rem;
  line-height: 1.5;
}
.description__image {
  display: flex;
  column-gap: 1.5rem;
}
.description__image img {
  max-width: 135px;
  filter: drop-shadow(0 2px 10px rgba(30, 30, 32, 0.15));
}
.description__image img:first-child {
  margin-bottom: 3.5rem;
  animation: wipe-up 1s infinite alternate;
}
.description__image img:last-child {
  margin-top: 2.5rem;
  animation: wipe-up 1s 0.5s infinite alternate;
}

.specification {
  height: calc(100vh - 3rem);
  display: grid;
  grid-template-rows: max-content max-content;
  justify-content: center;
  align-items: center;
  row-gap: 1.5rem;
}
.specification__content {
  display: flex;
  column-gap: 3.5rem;
}
.specification__box {
  margin-bottom: 2.5rem;
  text-align: center;
}
.specification__sub-title {
  font-size: var(--smaller-font-size);
  display: inline-block;
  width: 15ch;
}
.specification__title {
  font-size: var(--bigger-font-size);
  font-weight: 400;
}
.specification__title span {
  font-size: var(--big-font-size);
}
.specification__description {
  width: 15ch;
  margin: 0 auto;
}
.specification__img {
  width: max-content;
  justify-self: center;
}
.specification__img img {
  width: 300px;
}
@media screen and (max-width: 768px) {
  .specification {
    grid-template-columns: max-content max-content;
    grid-template-rows: none;
    align-content: center;
    justify-content: center;
  }
  .specification__content {
    flex-direction: column;
  }
  .specification__img {
    align-self: center;
  }
  .specification__img img {
    width: 218px;
  }
}

/*# sourceMappingURL=main.css.map */
