- var links = ["deskripsi", "spesifikasi"]
- var specData = [{subTitle: "Kekuatan baterai lebih dari", title: "24 <span>Jam</span>", desc: "dengan casing pengisian daya"},{subTitle: "Waktu dengar hingga", title: "5 <span>Jam</span>", desc: "dalam sekali isi daya"},{subTitle: "Hanya dengan", title: "15 <span>Menit</span>", desc: "pengisian daya tersedia hingga 3 jam waktu dengar"}]